<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <% produtos.forEach(function(item){
        %>
        <li><% item.nome %></li>
        <li><% item.marca %></li>
      <%
      }) %>
    </ul>

  </body>
</html>
